/* the Divs */

body {
    /* font-family: 'Lucida Sans';
    margin: 0 50px; */
    background-color: #333333;
    min-height: 70vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f0f0f;
    text-align: center;
    /* font-size: 130%; */
}

.container {
    width: 100%;
    height: auto;
    min-height: 500px;
    max-width: 500px;
    min-width: 250px;
}


#idTaskflowAppTitle{
  background: rgb(81, 29, 47);
  color: white;
  font-weight: bold;
  padding:10px;
  font-size: 130%;
}

#idTaskflowTodaySubTitle {
    background: rgb(232, 0, 78);
    color: white;
    font-weight: bold;
    padding:10px;
    font-size: 130%;
  }



/* x4 drop areas */

.clsDropArea{
    width:auto;
    height: auto;
    padding:5px; 
    border-radius: 5px;
    background-color: #fefefe;
    margin: 25px;
    box-shadow: 1px 10px 20px -20px #514;
    color:#333333;
    font-size: 130%;
    

}

/*------------------*/
/* Error - not details entered */ 
/*------------------*/

#idErrorMessage{
    color: red;
}

/*------------------*/
/* button +Add new card clickable in each box */
/*------------------*/

.btnAdd {
    color:#aaaaaa;
    /* border: 1px solid #000000 */       
}

.btnAdd:hover {
    color: #000000;
    cursor:pointer;
        
}

#btnSubmit{
  visibility: hidden;
}

/*------------------*/
/* Taskcard styling */
/*------------------*/

/* FLIP CARD */

.is-flipped {  /*style for .card when it is flipped */
  transform: translateX(-100%) rotateY(-180deg);
} 

.clsTaskCardWrapper {  /* .scene */
  width: 100%;
  height: 100%;
  perspective: 200px;
} 

.clsTaskCardAll {   /* clsTaskCardAll .card */
  width: 100%;
  height: 100%;
  /* position: relative; */
  transition: transform 0.3s;
  perspective: 333px;
  transform-style: preserve-3d; /* inherit the parent element's perspective - without this the face would be flattend with the parent*/
  transform-origin: center right;
  width: 100%;
  height: 100%;
  perspective: 200px;
}         

.clsTaskCardBack { /* back of task card - entry form */
  position: absolute; /* position both cards in 2d space first (reset). so it can be repositioned in 3d */
  /* height: 100%; */
  /* width: 100%; */
  backface-visibility: hidden;
  padding: 1em;
  background-color: #AAAA02;
  font-size: 14px;
  transform: rotateY( 180deg );
  bottom: 0px;
  right: -4px;
  left: -4px;
  top: -4px;
  width: auto;
  height: auto;

}

/*------------------*/
/* Container UI styling */
/*------------------*/

/* FLIP whole container */

.clsContainerAll .is-flipped {  /*style for .card when it is flipped */
  transform: translateX(-100%) rotateY(-180deg);

}

.clsContainerAll {   /* clsTaskCardAll .card */
  width: 100%;
  height: 100%;
  transition: transform 1.3s;
  perspective: 333px;
  transform-style: preserve-3d; /* inherit the parent element's perspective - without this the face would be flattend with the parent*/
  transform-origin: center right;
  background: #f1f5f8; 
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  /* padding: 1rem; */
  box-sizing: border-box;
  /* backface-visibility: none; */
}         

.clsContainerBack { /* back of task card - entry form */
  position: absolute; /* position both cards in 2d space first (reset). so it can be repositioned in 3d */
  /* height: 645px; */
  /* width: 100%; */
  backface-visibility: hidden;
  /* padding: 1em; */
  background-color: #ffe635;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  font-size: 14px;
  /* bottom: 0px; */
  right: 0px;
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
  transform: translateZ(-1px) rotateY(180deg);

}


.clsContainerFront  { /* Front of Container */
    backface-visibility: hidden; /* hide the face */
    transform: translateZ(0px);
}


.clsTaskCard  { /* Front of task card - task details ###rename to clsTaskCardFront */
  position: relative; /* position both cards in 2d space first (reset). so it can be repositioned in 3d */
  backface-visibility: hidden; /* hide the face */
  padding: 1em;
  border-top: 1px solid #DFE2E8;
  font-size: 14px;
  display: flex;
  min-height: 31px; /*same size as hover icons to avoid jitter */

}

/* if the card is hovered, change shape */
.clsTaskCard:hover {
    padding: 1em;
    border-top: 1px solid #DFE2E8;
    display: flex;
    box-shadow: 1px 10px 20px 0px rgba(218, 215, 206,0.8);
    background-color: #efefef;

}

.clsTaskCardTitle{
    color:black;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    max-width: 40%;
        
}

.clsTaskCardDetail{
    color: black;
    font-size: 12px;
    text-align: left;
  }


  .clsTaskCardTitleEdit{
    color:black;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    max-width: 40%;

    border-color: #51bce8;
    border-style: dotted;   
    border-width: 1px;
    padding:5px;
  }

  .clsTaskCardDetailEdit{
    color: black;
    font-size: 12px;
    text-align: left;

    border-color: #51bce8;
    border-style: dotted;   
    border-width: 1px;
    padding:5px;
  }





/*----------------*/
/* Material Icons */
/*----------------*/

/* Span for the hover edit icons revealed when a task is hovered */

.clsTaskCardHoverIcons {
    display: block;
    background: ghostwhite; 
    border-radius: 12px;
    position: absolute;
    top: +5px;
    right: 0px;
    box-shadow: 3px 3px 2px -2px gainsboro;
}  


/*hide the <i> tag - so we con show icons on hover. <i> tag is used for the edit icons */

i.material-icons {
  display: none;
}


/* display the icons on hover */

.clsTaskCard:hover .material-icons{
  display:contents;
  
}


/* default style for all material icons */

.material-icons{
  display:contents;
  color:grey;
  float: none;
  
}


/* hover style for all material icons (exept task edit) */

.material-icons:hover{
  cursor: pointer;
  color: black;
  text-align: center;
  float: none;
  background-color:lightgrey;
  border-radius: 13px;
}

/* icons menu on front of card */
#divIconBar{
  min-height: 48px; /*same size as hover icons to avoid jitter */
  
}


.clsAudioIconsBar{
  min-height: 48px; /*same size as hover icons to avoid jitter */
  align-content: center;
  position: absolute;
  font-size: xx-large;
}


.clsPomodoroContainer{
  /* box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5); */
  height: 70vh;
  width: 100%;
  border-radius: 20px;
}


/* form styles */

input[type=text] {
    width: 100px;
    text-align: center;
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    /* box-sizing: border-box; */
    /* border: 2px solid red; */
    border: none;
    color:#aaaaaa;
    font-style: italic;
    font-size: medium;
    font-family: 'Lucida Sans';
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.1s ease-in-out;    
}


input:focus{
    outline:none;
    /* border-bottom: 2px solid black; */
    background-color: #efefef;
    color: #000000;
    width: 90%;
    text-align: left;
}
 input:hover{
    color: #000000;
    cursor:pointer;
 }




  /* default when animation is off */

   body {
    background-color: #403060;
    background-image: radial-gradient( circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.8 ) 100% );
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 } 
 



 
 